body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
}

header{
    display: grid;
    grid-template-columns: minmax(178px,178px) 1fr;
    gap: 32px;
    text-align: right;
}

header nav a{
    padding: 8px;
    color: black;
}

.logo{
    width: 30vw;
    height: auto;
}

.hero_headline{
    font-family: "Julois Sans One, sans-serif";
}

.hero{
    width: 100vw;
    height: auto;
}

.main{
    display: inline-flex
}

.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.Seperator{
    height: 4px;
    background-color: #089968;
}

a{
    text-decoration: none;
}

button{
    background-color: #089968;
    border: none;
    padding: 2vw 8vw;
    border-radius: 30px;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.nav_footer{
    display: block;
}

footer nav a{
    display: block;
    color: white;
}

footer{
    display: inline-flexbox;
    background-color: #089968;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.footer_contact{
    padding: 16px 16px;
    width: 10vw;
    height: auto;
    font-size: 5vw;
}